html, body {
  
    height: 50%;
    width: 100%;
    background-color: #FAEBD7;
}

*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    background-color:dodgerblue;
}
h2,p{
    margin-left:30px;
    padding: 10px 0px;
}
p{
    font-size:18px;
}
h2{
    font-size:25px;
}
/* img{
width:400px;

} */
.img{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 30px;

}
